<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleek Dashboard Header</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="navbar-container">
        <div class="logo">
            <span class="logo-text">IPO Edge</span>
        </div>

        <nav class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('calendar') }}">Calendar</a>
            <a href="{{ url_for('companies') }}">Companies</a>
            <a href="{{ url_for('dive_deeper_with_ai') }}">Dive Deeper with AI</a>
            <a href="{{ url_for('learning_videos') }}">Learning Videos</a>
        </nav>
    </header>
    <body>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hLaIOHgxcJo?si=LlFi8kOnfwHj6Xv5" title="YouTube video player" frameborder="0" allow="accelerometer;picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <br> <iframe width="560" height="315" src="https://www.youtube.com/embed/CP4aHOcuJbs?si=1F8iVQBykbAVFFMg" title="YouTube video player" frameborder="0" allow="accelerometer;picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <br> <iframe width="560" height="315" src="https://www.youtube.com/embed/__G9-p4ImUU?si=qPqqMztGszo3kuOA" title="YouTube video player" frameborder="0" allow="accelerometer;picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </body>
</body>
</html>